.headerContainer {
    height: 4rem;
    border-bottom: 1px solid var(--gray-200);
    background: var(--gray-700);
}


.headerContent {
    max-width: 1120px;
    display: flex;
    align-items: center;
    height: 4rem;
    margin: 0 auto;
    padding: 0 1rem;


    img {
        cursor: pointer;
    }

    nav {
        margin-left: 3rem;
        height: 4rem;

        p {
            display: inline-block;
            position: relative;
            padding: 0 0.3rem;
            height: 4rem;
            line-height: 4rem;
            color: var(--gray-100);
            transition: color 0.2s;

            & + p {
                margin-left: 2rem;
            }

            &:hover {
                color: var(--white);
            }

            &.active {
                color: var(--blue-900);
                font-weight: bold;
            }
        }
    }
}

.gitButton {
    margin-left: auto;
    height: 2rem;
    border-radius: 3rem;
    background: var(--blue-900);
    border: 0;
    padding: 0 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: bold;
    transform: filter 0.2s;

    &:hover {
        filter: brightness(1.1);
    }
}

@media (max-width: 870px) {
    .headerContainer {
        height: 11rem;
        padding: 0.5rem 0;
    }

    .headerContent {
        display: flex;
        flex-direction: column;

        nav {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .gitButton {
            display: none;
        }
    }
}